DPR/downloads/checkpoint/retriever/single/nq/bert-base-encoder.cp
DPR/downloads/data/retriever/LICENSE
DPR/downloads/data/retriever/nq-dev.json
DPR/downloads/data/retriever/nq-train.json
DPR/downloads/data/retriever/README
DPR/downloads/data/retriever/qas/LICENSE
DPR/downloads/data/retriever/qas/nq-dev.csv
DPR/downloads/data/retriever/qas/nq-test.csv
DPR/downloads/data/retriever/qas/nq-train.csv
DPR/downloads/data/retriever/qas/README
DPR/downloads/data/retriever_results/nq/single/dev.json
DPR/downloads/data/retriever_results/nq/single/LICENSE
DPR/downloads/data/retriever_results/nq/single/README
DPR/downloads/data/retriever_results/nq/single/test.json
DPR/downloads/data/retriever_results/nq/single/train.json
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_0.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_1.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_2.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_3.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_4.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_5.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_6.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_7.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_8.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_9.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_10.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_11.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_12.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_13.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_14.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_15.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_16.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_17.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_18.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_19.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_20.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_21.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_22.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_23.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_24.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_25.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_26.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_27.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_28.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_29.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_30.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_31.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_32.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_33.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_34.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_35.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_36.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_37.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_38.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_39.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_40.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_41.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_42.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_43.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_44.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_45.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_46.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_47.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_48.pkl
DPR/downloads/data/retriever_results/nq/single/wikipedia_passages_49.pkl
DPR/downloads/data/wikipedia_split/psgs_w100.tsv
myCode/practice.ipynb
myCode/data
DPR/bm25_v2.py